body{
  font-family: emily, sans-serif;
  margin: 20px;
  padding: 20px;
}
.SUMMARY,
.TECHNICAL-SKILLS,
.PROJECTS,
.EXPERIENCE,
.EDUCATION,
.COURSES-CERTIFICATIONS,
.SOFT-SKILLS,
.LANGUAGES{
  color: #383636;
  margin-bottom: 10px;
}
h3,
h1{
  margin-bottom: 5px;
  color: #057391;
}
a{
  color: #383636;
  text-decoration-line: none;
}
a:hover{
  text-decoration-line: underline;
  transform:scale(1.05px) ; -webkit-transform:scale(1.05px) ; -moz-transform:scale(1.05px) ; -ms-transform:scale(1.05px) ; -o-transform:scale(1.05px) ;
}
