body{
  font-family: emily, sans-serif;
  margin: 20px;
  padding: 20px;
}
.SUMMARY,
.TECHNICAL-SKILLS,
.PROJECTS,
.EXPERIENCE,
.EDUCATION,
.COURSES-CERTIFICATIONS,
.SOFT-SKILLS,
.LANGUAGES{
  color: #383636;
  margin-bottom: 10px;
 
}
h3,
h1{
  margin-bottom: 5px;
  color: #057391;
}
a{
  color: #991616;
  text-decoration-line: none;
}
