body{
  font-family: emily, sans-serif;
  margin: 20px;
  padding: 20px;
  color: #383636;
  margin-bottom: 10px;
}
h3,
h1{
  margin-bottom: 5px;
  color: #375c95;

}
a{
  color: #0c85a6;
  text-decoration-line: none;
}
a:hover{
  text-decoration: underline;
}
